* {
    margin: 0px;
    box-sizing: border-box;
}


body {
    background-image: url("../images/dust_scratches.png");
 }

 p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    text-indent: 50px;
    padding-top: 15px;
 }

footer {
    border-top: 7px solid #4aaaa5;
    padding-top: 40px;
    padding-bottom: 7px;
    background-color: #666666;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    margin-top: 100px;
    color: #cccccc;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

hr {
    color: #dddddd;
    border: 2px solid;
}


/* Image Settings */
.float-left {
    float: left;
    margin: 20px 20px 20px 0px;
}

.float-right {
    float: right;
    margin: 20px 0px 20px 20px;
}

figure {
    border: 1px solid #4aaaa5;
    max-width: 40%;
    display: table;
    padding: 10px;
}

#img-headshot {
    max-width: 35%;
}

#img-headshot-resize {
    width: 90%;
    height: 90%;
}

.img-resize {
    display: block;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    padding-top: 10px;
    font-size: 12px;
    line-height: 1.6;
    color: #777777;
    text-align: center;
}

/* Portfolio */
.portfolio-box {
    display: inline-block;
    margin: 20px 20px 20px 0px;
    position: relative;
}

.portfolio {
    margin-top: 15px;
}

.portfolio-text {
    position: absolute;
    bottom: 40px;
    width: 250px;
    height: 50px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
}

/* Navigation Settings */
#navbarNav {
    float: right;
    padding-top: 25px;
    padding-bottom: 25px;
}

.navWrapper {
    width: 960px;
    margin: 0 auto;
}

.navbar-light .navbar-brand:hover {
    color: #ffffff;
}

.navbar-light .navbar-brand:focus {
    color: #ffffff;
}

a.nav-link {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 18px;
    padding: 0px;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 30px;
    padding-right: 30px;
}


.navbar-brand {
    padding: 18px;
    margin: 0px;
    background-color: #4aaaa5;
    font-size: 28px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
}

.navbar {
    min-height: 80px;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    padding: 0px;
}

.navbar-light .navbar-brand {
    color: #ffffff;
}

#navSpacer {
    margin-top: 170px;
}

#contentSpacer {
    margin-top: 100px;
}


/* Blog Title */
.blogHeader {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-shadow: #777777 1px 1px;
}

.blogSpacer {
    border-bottom: #777777 6px double;
    border-top: #777777 6px double;
    width: 50%;
    margin: 0 auto;
    border-radius: 80px;
    margin-top: 80px;
    margin-bottom: 40px;
}

/* About Me */
 .mainContent {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 20px;
    padding-bottom: 50px;
    line-height: 1.8;
    max-width: 960px;
    margin: 0 auto;
}

.contentTitle {
   color: #4aaaa5;
}


/* ul and li modifiers */
ul.listBox {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    border: solid 1px #4aaaa5;
    margin-top: 15px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
 }

 li.listBox {
    margin-bottom: 10px;
 }

 /* Clearfix */
 .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.clear {
    clear: both;
}

/* Form Content */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 10px 28px;
    border: none;
    cursor: pointer;
}


 /* @media */